* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    div.menu {
        text-align: left !important;
    }

    nav {
        padding: 0px;
    }

}

/* start header */

nav {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px;
    border-bottom: ridge;
    box-shadow: rgba(0, 0, 0, 0.10);
    padding: 15px 30px !important;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a:hover {
    color: rgb(135, 138, 141);
    font-size: 22px;
}

div.logo {
    text-align: left;
}

div.logo span {
    font-size: 23px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.logo strong {
    font-weight: 800;
}

div.menu {
    text-align: right;
}

div.menu ul {
    padding: 0px;
    margin: 0px;
}

div.menu ul li {
    display: inline;
    padding: 0px 20px;
}

div.menu ul li.first {
    padding: 0px 20px;
    padding-left: 0px !important;
}

div.header-content {
    background-image: url("../images/architect.jpg");
    background-size: 100% 100%;
    margin: auto;
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.header-content span {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.header-content strong {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
}

/* end header */
/* start project-styles */
div.projects {
    margin-top: 5%;
    padding: 0px 30px;
}

h1 {
    font-size: 25px;
    color: #161616dd;
    display: block;
    padding: 20px 0px;
    border-bottom: 1px solid #DDDD;
}

div.project-row {
    margin-top: 2%;
}

div.project1 {
    background-image: url("../images/first.jpg");

}

div.project2 {
    background-image: url("../images/secound.jpg");
}

div.project3 {
    background-image: url("../images/third.jpg");

}

div.project4 {
    background-image: url("../images/fourth.jpg");

}

div.project5 {
    background-image: url("../images/fifth.jpg");
}

div.project6 {
    background-image: url("../images/sixth.jpg");

}

div.project7 {
    background-image: url("../images/seventh.jpg");

}

div.project8 {
    background-image: url("../images/third.jpg");

}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8 {
    background-size: 95% 100%;
    background-repeat: no-repeat;
    height: 250px;
}


span.img-text {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: aliceblue;
    padding: 10px;
    display: inline-block;
    margin-left: -8px;
    text-align: center;

}

/* end project styles  */
/* start about styles */
div.about {
    margin-top: 5%;
    padding: 0px 30px;
}

div.about p {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
}


div.person {
  margin-bottom:5%;
}

div.person img {
    width: 100%;
}



div.person h2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    font-weight: 400;
    color: #0f0f0fdd;
}

div.person h3 {
    font-size: 18px;
    color: rgb(31, 30, 30);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    font-weight: 300;
}

div.person p {
    color: #141414dd;
    font-size: 18px;
}

div.person button {
   border-radius: none !important;
    background-color: rgb(218, 216, 213);
  
}
div.person button:hover {
    background-color: grey;
}
/* end about styles */

/* start contact styles */
div.contact {
    padding: 0px 30px;
   
}

div.contact p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: block;
    text-align: left;
}

input {
    display: block;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.contact button{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 50px;
}

div.contact button:hover {
    background-color: gray;

}

img.contact {
    width: 100%;

}

